# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build files
/client/build
/dist

# Cache files
.cache
/client/.cache
/server/.cache

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local database file
/server/config/inventory_dev.db

# Environment variables
.env
.env.local

# IDE settings
.vscode/
.idea/
